<td class="text-center">
    {% if neuner|length > 0 %}
        {{ neuner|length }}
    {% else %}
        -
    {% endif %}
</td>
<td class="text-center">
    {% if banden|length > 0 %}
        {{ banden|length }}
    {% else %}
        -
    {% endif %}
</td>
<td class="text-center">
    {% if banden|length > 0 %}
        {{ banden|length }}
    {% else %}
        -
    {% endif %}
</td>